# Verification

Several verification cases are included and documented in the following section. These cases are intended to demonstrate use of the techniques and verify the package for a variety of unique cases.

```{tableofcontents}
```